.Container__Card
{
    /* DESIGN (W-H, COLORS, FONT, ETC */
    width: 800px;
    min-height: 500px;
    height: auto;
    background: var(--White);
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px var(--PaleBlue);

    /* ALIGN (FLEX/GRID) */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}