.Container{
    /* DESIGN (PX-WH-COLORS-BG-ETC..) */
    margin: auto;
    width: 1440px;
    min-height: 100vh;
    height: auto;
    background: var(--LightBlue);

    /* ALIGN (FLEX/GRID) */
    display: flex;
    align-items: center;
    justify-content: center;
}