<<<<<<< HEAD
.Container
{
    /* DESIGN (W-H | FONT | COLORS | BG | ETC..) */
    position: relative;
    width: 1440px;
    min-height: 100vh;
    height: auto;
    margin: auto;
    overflow: hidden;
=======
.Container
{
    /* DESIGN (W-H | FONT | COLORS | BG | ETC..) */
    position: relative;
    width: 1440px;
    min-height: 100vh;
    height: auto;
    margin: auto;
    overflow: hidden;
>>>>>>> 44ebaf7 (Chalenge completed!)
}