.Container__Product--Image
{
    /* ALIGN (FLEX/GRID) */
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.Image-Principal
{
    /* DESIGN (PX-WH-COLORS-BG-ETC..) */
    position: relative;
    height: 500px;
}
.Image-Principal--Previous--Button,
.Image-Principal--Next--Button
{
    /* DESIGN (PX-WH-COLORS-BG-ETC..) */
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transform: scale(0);
    transition: .5s ease-in-out transform;

    /* ALIGN (FLEX/GRID) */
    display: flex;
    align-items: center;
    justify-content: center;
}
.Image-Principal--Previous--Button
{
    top: calc(50% - 17.5px);
    left: 10px;
}
.Image-Principal--Next--Button
{
    top: calc(50% - 17.5px);
    right: 10px;
}
.Image-Principal--Previous--Button ion-icon,
.Image-Principal--Next--Button ion-icon
{
    font-size: 25px;
    color: var(--Black);
    transition: .5s ease color;
}
.Image-Principal--Previous--Button:hover ion-icon,
.Image-Principal--Next--Button:hover ion-icon
{
    color: var(--Orange);
}
.Product-Image
{
    /* DESIGN (PX-WH-COLORS-BG-ETC..) */
    border-radius: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.Images-Preview
{
    /* DESIGN (PX-WH-COLORS-BG-ETC..) */
    min-height: 50px;
    height: auto;

    /* ALIGN (FLEX/GRID) */
    display: flex;
    justify-content: space-between;
}
.Images-Preview-Product
{
    width: 100px;
    height: 100px;
    border: 3px solid var(--White);
    border-radius: 15px;
    overflow: hidden;
    transition: .5s ease border;
}
.Images-Preview-Product:hover
{
    cursor: pointer;
    border-color: var(--Orange);
}
.Product-Preview-Image
{
    width: 100%;
    height: 100%;
}
.Product-Preview-Image:hover
{
    opacity: .4;
}
.Images-Preview-Product.Active
{
    border-color: var(--Orange);
}
.Images-Preview-Product.Active .Product-Preview-Image
{
    opacity: .4;
}
