@media (width <= 1440px){
    .Container
    {
        width: 100%;
    }
}
@media (width <= 1240px){
    .Container__Header,
    .Container__Product
    {
        width: 100%;
    }
}
@media (width <= 1100px){
    .Container__Product{
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
    .Details--Title
    {
        font-size: 40px;
    }
    .Details--Price--Especial{
        font-size: 20px;
    }
    .Details--Buttons{
        flex-direction: column;
    }
}
@media (width <= 800px){
    .Container__Header--Options{
        justify-content: flex-end;
    }
    .Menu--Options{
        display: none;
    }
    .Logo--Menu{
        display: block;
    }
}
@media (width <= 700px){
    .Container__Product{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .Image-Principal{
        height: auto;
    }
    .Product-Image{
        border-radius: 0;
    }
    .Images-Preview{
        display: none;
    }
    .Details--Price
    {
        flex-direction: row;
        justify-content: space-between;
    }
    .Container__Cart
    {
        right: -100%;
        top: 110px;
        width: 95%;
    }
    .Container__Cart.Show
    {
        right: 2.5%;
    }
    .Container__Cart--Content--Product
    {
        width: 100%;
        justify-content: space-between;
    }
    .Image-Principal--Previous--Button,
    .Image-Principal--Next--Button
    {
        transform: scale(1);
    }
}
@media (width <= 550px){
    .Cover__Content
    {
        width: 90%;
    }
    .Container__Header{
        padding: 0 10px;
    }
    .Menu--CartProfile{
        gap: 10px;
    }
    .Options--Profile
    {
        width: 45px;
        height: 45px;
    }
    .Image--Cover{
        width: 100%;
        height: auto;
    }
    .Previous--Button{
        top: calc(50% - 17.5px);
        left: -17.5px;
        width: 35px;
        height: 35px;
    }
    .Next--Button{
        top: calc(50% - 17.5px);
        right: -17.5px;
        width: 35px;
        height: 35px;
    }
    .Cover__Content--Preview--Picture
    {
    min-width: 50px;
    min-height: 50px;
    }
    .Product--Details--Name,
    .Product--Details--Price,
    .Details--Price--Total
    {
        text-align: left;
        font-size: 14px;
    }
}
@media (width <= 350px){
    .Logo--Image
    {
        width: 100px;
    }
}
@media (width <= 300px){
    .Logo--Image
    {
        width: 80px;
    }
}